<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Dashboard with all the Menus</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'files/dashboard_with_all_the_menus/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'resources/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'resources/scripts/axutils.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'resources/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/events.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/action.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/model.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/move.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/style.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/math.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'data/document.js' %}"></script>
    <script src="{% static 'files/dashboard_with_all_the_menus/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'resources/reload.html' %}"; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Shape) -->
      <div id="u21" class="ax_default box_3">
        <img id="u21_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u21.svg' %}"/>
        <div id="u21_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u22" class="ax_default">
        <img id="u22_menu" class="img " src="{% static 'images/dashboard_with_all_the_menus/u22_menu.png' %}" alt="u22_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u23" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u24" class="ax_default menu_item">
            <img id="u24_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u24.png' %}"/>
            <div id="u24_text" class="text ">
              <p><span>My Projects</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u25" class="ax_default menu_item">
            <img id="u25_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u24.png' %}"/>
            <div id="u25_text" class="text ">
              <a href="/new_project_screen"><span>New Project</span></a>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u26" class="ax_default menu_item">
            <img id="u26_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u26.png' %}"/>
            <div id="u26_text" class="text ">
              <p><span>Talent Pool</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u27" class="ax_default">
        <img id="u27_menu" class="img " src="{% static 'images/dashboard_with_all_the_menus/u22_menu.png' %}" alt="u27_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u28" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u29" class="ax_default menu_item">
            <img id="u29_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u24.png' %}"/>
            <div id="u29_text" class="text ">
              <p><span>Submissions</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u30" class="ax_default menu_item">
            <img id="u30_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u24.png' %}"/>
            <div id="u30_text" class="text ">
              <p><span>Hire Someone</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u31" class="ax_default menu_item">
            <img id="u31_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u26.png' %}"/>
            <div id="u31_text" class="text ">
              <p><span>My Wallet</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u32" class="ax_default box_1">
        <div id="u32_div" class=""></div>
        <div id="u32_text" class="text ">
          <p><span>My Profile</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u33" class="ax_default box_3">
        <div id="u33_div" class=""></div>
        <div id="u33_text" class="text ">
          <!-- <p><span>Welcome TCS</span></p> -->
          {% if user.is_authenticated %}
          <p><span>Welcome {{user.username}}</span></p>
          {% else %}                  
         <p><span>Welcome TCS</span></p>
          {% endif %}
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u34" class="ax_default icon">
        <img id="u34_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u34.svg' %}"/>
        <div id="u34_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u35" class="ax_default">
        <img id="u35_menu" class="img " src="{% static 'images/dashboard_with_all_the_menus/u35_menu.png' %}" alt="u35_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u36" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u37" class="ax_default menu_item">
            <img id="u37_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u37.png' %}"/>
            <div id="u37_text" class="text ">
              <a href="/logout"><span>Log Out</span></a>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u38" class="ax_default menu_item">
            <img id="u38_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u37.png' %}"/>
            <div id="u38_text" class="text ">
              <p><span>Edit Profile</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u39" class="ax_default menu_item">
            <img id="u39_img" class="img " src="{% static 'images/dashboard_with_all_the_menus/u39.png' %}"/>
            <div id="u39_text" class="text ">
              <p><span>Change Password</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'resources/scripts/axure/ios.js' %}"></script>
  </body>
</html>
